<td class="v-align-middle ">{{firstName}} {{lastName}}</td>
<td class="v-align-middle">{{username}}</td>
<td class="v-align-middle">{{email}}</td>
<td class="v-align-middle">{{sexo}}</td>
<td class="text-center">
  <div class="btn-group btn-group-xs">
    <a href="#app/usuarios/{{id}}/editar" data-toggle="tooltip" title="Edit" class="btn btn-default"><i class="fa fa-pencil"></i></a>
    <a href="#app/usuarios/{{id}}/eliminar" data-toggle="tooltip" title="Delete" class="btn btn-danger"><i class="fa fa-times"></i></a>
  </div>
</td>
